html {
  width: 100%;
  height: 100%;
}

#logo img {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

#band {
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#band p {
  text-align: center;
}
#band h1 {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

button[type=submit] {
  align-content: center;
  margin: auto;
  display: flex;
  background-image: linear-gradient(to top, #9356dc, rgba(255, 121, 218, 0.9));
  border-radius: 25px;
  border: none;
  color: white;
  padding: 10px;
  box-shadow: 1px 1px 12px #ababab;
  transition: all 400ms;
}
button[type=submit]:hover {
  transform: scale(1.02);
  cursor: pointer;
}

#city {
  background-color: #eaeaea;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
#city i {
  margin-right: 10px;
}

.content {
  margin: 2%;
  height: auto;
  box-sizing: border-box;
  background-color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box__one, .box__two {
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  background-color: #F2F2F2;
  margin-bottom: 20px;
}

.box__one {
  width: 65%;
}

.box__two {
  width: 33%;
  background-color: white;
}
.box__two i {
  margin-right: 2%;
}
.box__two ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}
.box__two li {
  background-color: #f6f6f6;
  padding-top: 5%;
  padding-bottom: 3%;
  margin-bottom: 3%;
  flex-grow: 1;
  border-radius: 25px;
  width: 100%;
  height: 30px;
  transition: all 400ms;
  text-align: center;
  list-style-type: none;
}
.box__two li :hover {
  transform: scale(1.02);
}
.box__two li :hover i {
  color: purple;
}
.box__two li ::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: purple;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: left;
  justify-content: center;
  position: absolute;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}
.title h2 {
  height: 30px;
  font-weight: bold;
  margin-left: 3rem;
}

.article {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px auto;
  justify-content: space-evenly;
}
.article a {
  width: 40%;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 1px 1px 12px #ababab;
  object-fit: cover;
}
.article a img {
  height: 110px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.text__name {
  padding-left: 20px;
  position: relative;
}
.text__name p {
  margin-top: -5%;
}

.far {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 20px;
}

.icone .fas {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, rgba(255, 121, 218, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 20px;
  opacity: 0;
  transition: all 100ms ease-in-out;
}
.icone .fas:hover {
  opacity: 1;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #353535;
  color: white;
  display: flex;
  justify-content: space-around;
}
footer a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer i {
  margin-right: 10px;
}

/*# sourceMappingURL=index.css.map */
