@media screen and (max-width: 900px)
{

    #logo img
    {
        width: 100%;
        height: 5vh;
        object-fit: contain;
    }

    .box__two
    {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box__one
    {
        width: 100%;
        border-radius: 0px;
        flex-wrap: nowrap;
    }

    main
    {
        flex-direction: column-reverse;
    }

    .article a
    {
        width: 100%;
    }
    
    .text__name p
    {
        padding-top: 10px;
    }

    .box__two ol
    {
        width: 100%;
        padding-right: 5%;
    }

    /*/responsive menu card/*/

    .image__restaurant img
    {
        height: 30vh;
    }

    #logo i
    {
        position: absolute;
        font-size: 1.5rem;
        padding: 2%;
        padding-left: 5%;
    }

    .restaurant__name h1
    {
        font-size: x-large;
        margin-left: 1rem; 
    }

    .far,.icone .fas
    {
        font-size: 1.5rem;
    }
    
    section
    {
        grid-template-columns: none;
        padding-left: none;
    }

    .menu__flat
    {
        width: 100%;
    }

    .menu__category
    {
        padding-left: none;
    }

    button[type="submit"]
    {
        width: 30%;
        text-align: center;
        display: flow-root;
        margin-bottom: 20px;
    }

    footer
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__title
    {
        padding-left: 10%;
    }

    .suggest_restaurant, .become__partner, .legal__mention, .contact
    {
        padding-left: 10%;
        padding-right: none;
    }

    footer i
    {
        padding-left: 4rem;
    }
}