@charset "UTF-8";
@keyframes chargement {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes progress {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
.loader {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  animation: chargement 0.1s 2s forwards;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bar {
  margin-top: 20px;
  width: 30em;
  height: 1em;
  border-radius: 0.5em;
  background: #eaeaea;
}
.bar .percentage {
  background: #99E2D0;
  height: 1em;
  border-radius: 0.5em;
  animation: progress 2s;
}
.loading {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", "sans-sérif";
  margin: 0;
}

#logo {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
#logo img {
  display: flex;
  align-items: center;
  margin: auto;

}

#band {
  background-color: #f1efef; 
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#band p {
  text-align: center;
}

#band h1 {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

button[type=submit] {
  align-content: center;
  margin: auto;
  display: flex;
  background-image: linear-gradient(to top, #9356DC, rgba(255, 121, 218, 0.9));
  border-radius: 25px;
  border: none;
  color: white;
  padding: 14px;
  box-shadow: 1px 1px 12px #ababab;
  transition: all 400ms;
}
button[type=submit]:hover {
  transform: scale(1.02);
  cursor: pointer;
}

a
{
  text-decoration: none;
}

#city {
  background-color: #eaeaea;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
#city i {
  margin-right: 10px;
}

.content {
  margin: 32px 0 16px 0;
  height: auto;
  box-sizing: border-box;
  background-color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box__one, .box__two {
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  background-color: #F2F2F2;
  margin-bottom: 20px;
}

.box__one {
  width: 65%;
}

.box__two {
  width: 33%;
  background-color: white;
}

.fa-mobile-alt{
  margin-left: 15px;
}

.box__two i {
  margin-right: 20px;
}
.box__two ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  transition: all 400ms;
  padding-inline-start: 0;
  margin: 0 16px;
}
.box__two ol :hover {
  transform: scale(1.02);
}
.box__two .orderNum {
  background: #9356DC;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 25px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -20px;
  top: 25px;
}
.box__two li {
  background-color: #f6f6f6;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  border-radius: 25px;
  width: 100%;
  height: 30px;
  position: relative;
  text-align: center;
  list-style-type: none;
  font-weight: 700;
}

.box__two li:hover {
  color: #9356DC;
  background-color: #f5edff;
  transition: transform 0.2s ease-in-out;
}

.box__two li:hover i {
  color: #9356DC;
  transition: all 400ms;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 3rem;
}
.title h2 {
  height: 30px;
  font-weight: bold;
}

.article {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px auto;
  justify-content: space-evenly;
}
.article .card__restaurant {
  width: 40%;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 1px 1px 12px #ababab;
  object-fit: cover;
}
.article .card__restaurant img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.article a{
  color: black;
}

.new {
  background: #a9e0d1;
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  bottom: 9rem;
  right: 0.5rem;
  color: #006400;
}

.text__name {
  padding-left: 20px;
  position: relative;
}
.text__name p {
  margin-top: -10px;
}
.icone:hover .fas.fa-heart {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.icone:hover .far.fa-heart {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.fas.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.far.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 30px;
  opacity: 1;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #353535;
  color: white;
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto';
}

footer .footer__title{
  font-family: 'ShrikHand';
  font-weight: 400;
}
footer a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suggest__restaurant h3 , .become__partener h3 , .legal__mention h3 , .contact h3{
  font-weight: 500;
  font-size: 17px;
}
.suggest__restaurant , .become__partener , .legal__mention , .contact{
 display: flex;
}
footer i {
  margin-right: 10px;
}

/*# sourceMappingURL=index.css.map */
