@media screen and (max-width: 900px)
{

    .loader .bar{
        width: 20rem;
      }

    #logo img
    {
        width: 100%;
        height: 5vh;
        object-fit: contain;
    }

    .box__two
    {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box__one
    {
        width: 100%;
        border-radius: 0px;
        flex-wrap: nowrap;
    }

    main
    {
        flex-direction: column-reverse;
    }

    .article .card__restaurant
    {
        width: 100%;
    }

    .new {
        bottom: 8.5rem;
    }

    .far.fa-heart, .fas.fa-heart{
        bottom: 2.5rem;
    }
    
    .text__name p
    {
        padding-top: 10px;
    }

    .box__two ol
    {
        width: 100%;
        padding-right: 5%;
    }

    footer
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__title
    {
        padding-left: 10%;
    }

    .suggest__restaurant
    {
        margin-bottom: -1.5rem;
    } 
    .become__partner, .legal__mention, .contact
    {
        padding-left: 10%;
        padding-right: 0;
        margin-top: -1.5rem;
    }

    footer .suggest__restaurant .fa-utensils{
        padding-right: 8px;
    }

    footer i
    {
        padding-left: 5rem;
    }

    /*/responsive menu card/*/

    .image__restaurant img
    {
        height: 30vh;
    }

    #logo i
    {
        font-size: 1.5rem;
        padding: 2%;
        padding-left: 50%;
        padding-bottom: 10px;
    }

    .card__menu
    {
        margin-top: -2rem;
    }

    .restaurant__name h1
    {
        font-size: x-large;
        justify-content: normal;
        margin-left: 1.5rem; 
    }

    .icone__menu .far.fa-heart,.icone__menu .fas.fa-heart{
        bottom: 20px;
        font-size: 1.5rem;
    }
    
    .card__category
    {
        grid-template-columns: none;
        gap: 2rem;
    }

    .menu__item .menu__check .fa-check-circle  {
        font-size: 2rem;
      }

      .menu__item .menu__flat{
        width: 5px;
      }

    .menu__item:hover .menu__check {
        opacity: 100%;
        width: 4rem;
      }

    section .btn
    {
        top: 1rem;
    }

    button[type="submit"]
    {
        text-align: center;
        display: flow-root;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .commandez
    {
        width: 50%;
    }

    
}

@media screen and (max-width: 400px){
    footer i
    {
        padding-left: 2rem;
    }
}